<div class="tab_titles">
<div class="tab active_tab tab_counter_0" role="tab" tabindex="0" data-fake-id="#managing-your-first-global-assignment" aria-controls="managing-your-first-global-assignment-content" itemprop="headline"><span class="tab_icon" aria-hidden="true" data-av_icon="" data-av_iconfont="airinc-homepage-2020"></span>Managing Your First Global Assignment?
</div>
<div class="tab tab_counter_1" role="tab" tabindex="0" data-fake-id="#localize-a-global-employee" aria-controls="localize-a-global-employee-content" itemprop="headline"><span class="tab_icon" aria-hidden="true" data-av_icon="" data-av_iconfont="airinc-homepage-2020"></span>Localize a Global Employee
</div>
<div class="tab tab_counter_2" role="tab" tabindex="0" data-fake-id="#provide-allowances-to-global-employees-on-assignment" aria-controls="provide-allowances-to-global-employees-on-assignment-content" itemprop="headline"><span class="tab_icon" aria-hidden="true" data-av_icon="" data-av_iconfont="airinc-homepage-2020"></span>Provide Allowances to Global Employees on Assignment
</div><div class="tab tab_counter_3" role="tab" tabindex="0" data-fake-id="#compensation-across-borders" aria-controls="compensation-across-borders-content" itemprop="headline"><span class="tab_icon" aria-hidden="true" data-av_icon="" data-av_iconfont="airinc-homepage-2020"></span>Compensation Across Borders
</div>
</div>
